LINE_CHANNEL_SECRET=4ea55f79eac7685ff6a4633405bc4458
LINE_CHANNEL_ACCESS_TOKEN=bgsMoB9/P+VEfqwi7/ZpJ/E+4ga0nXjlh8UB/zN0S/IeHPvvCwyX4uy04J6N2eWn61q/gZcH9eHEmyL4n4s4hDcibekzgJxr5tZY9uc/Cw+CgXsPd8ja1kcjw9rRgH4KAW2PTIhIwylTKzkdTCMqcgdB04t89/1O/w1cDnyilFU=
GEMINI_API_KEY=AIzaSyArL0m526lGKMhmQN3sLz1U6IvurXsiqwM
SUPABASE_URL=https://xkfsmmqzsghmaxeyupdm.supabase.co
SUPABASE_KEY=sb_publishable_HVRTd3c8wUYY6wCM6kf_Ig_mdPPChOt
GOOGLE_MAPS_KEY=AIzaSyDoDHi2r7dEmA-RwENOAe2otYhHp4uPVD4
PORT=3000
